<div class="header block">
    <div class="container">
        <div class="header__menu">
            <div class="header__menu-item">
                <a class="menu-link" href="">Home</a>
            </div>
            <div class="header__menu-item">
                <a class="menu-link" href="">Store</a>
            </div>
            <div class="header__menu-item">
                <a class="menu-link" href="">Why iOud?</a>
            </div>
            <div class="header__menu-item logo">
                <a  href="">
                    <img src="img/logo.svg" alt="">
                </a>
            </div>
            <div class="header__menu-item">
                <a class="menu-link" href="">Our story</a>
            </div>
            <div class="header__menu-item">
                <a class="menu-link" href="">About us</a>
            </div>
            <div class="header__menu-item">
                <button class="order-btn">
                    Contact us
                </button>
            </div>
            <div class="hamburger">
                &#9776;
            </div>
        </div>
    </div>
</div>