<footer class="footer">
	<div class="container">
		<div class="footer__wrap">

			<div class="footer__left">
				<p class="footer__sub-header">
					Legal
				</p>
				<a class="footer-link" href="">Privacy policy</a>
				<a class="footer-link" href="">Terms and conditions</a>
				<a class="footer-link" href="">Returns</a>
				<a class="footer-link" href="">Shipping and Deliveries Policy</a>
				<a class="footer-link" href="">IOud Stores</a>
			</div>

			<div class="footer__center">
				<p class="footer__sub-header">
					iOud
				</p>
				<a class="footer-link" href="">About us</a>
				<a class="footer-link" href="">Mission and vision</a>
				<a class="footer-link" href="">Whi iOud</a>
				<div class="footer__center-social">
					<img src="img/facebook.svg" alt="">
					<img src="img/instagram.svg" alt="">
					<img src="img/twitter.svg" alt="">
				</div>
			</div>

			<div class="footer__right">
				<p class="footer__sub-header">
					Stay in touch
					<span class="right-text">Receive news about iOud’s latest products and updates</span>
				</p>
				<form class="order-email" action="">
					<input type="email" required placeholder="Email">
					<button class="order-email-btn">Send</button>
				</form>
			</div>

		</div>
		<div class="last-footer">
			©2019 all rights reserved to Intelligent Oud Co. for Trading
		</div>
	</div>
</footer>
