<div class="banner">
    <div class="container">
        <div class="banner__wrap">
            <div class="banner__descr">
                <p class="banner__descr-title">
                    Air de musk
                </p>
                <p class="banner__descr-text">
                    All the new collection
                </p>
                <button class="banner__descr-btn">
                    Shop now
                </button>
            </div>
            <div class="banner__img">
                <img src="img/pack.png" alt="">
            </div>
        </div>
    </div>
</div>