<div class="advantages">
    <div class="container">
        <div class="advantages__wrap">
            <div class="advantages__tab">
                <img src="img/advant-img1.svg" alt="">
                <p class="advantages__tab-text">
                    No Charcoal Needed
                </p>
            </div>

            <div class="advantages__tab active-tab">
                <img src="img/advant-img2.svg" alt="">
                <p class="advantages__tab-text">
                    No Burner Required
                </p>
            </div>


            <div class="advantages__tab">
                <img src="img/advant-img3.svg" alt="">
                <p class="advantages__tab-text">
                    Easy to Light
                </p>
            </div>
        </div>
        <div class="advantages__descr">
            No Burner Required
        </div>
    </div>
</div>